@import "mocha.css";

* {
    border: none;
}

#waybar {
    background: transparent;
    color: @text;
    background: @base;
    font-family: "NotoSans Nerd Font";
}

#window, #workspaces, #tray, #language, #network, #wireplumber, #battery {
  border-top: 2px solid @text;
}

#tray, #language, #network, #wireplumber, #battery, #clock {
    padding: 0px 8px;
}

#window {
  padding: 8px;
}

#workspaces button.active {
    border-top: 2px solid @mauve;
    border-radius: 0px;
}

#clock {
    border-top: 2px solid @green;
    color: @green;
}

#custom-power {
    padding: 0 8px;
    border-top: 2px solid @maroon;
    color: @maroon;
}
